/* Landing-Page */
section#landing{
        min-height: 600px;
        background-size: cover;
        background-position-y: center;
}

.search-box-wrapper{
    top: calc(600px - 258px);
}
/* Landing-Page */